* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 60%;
    padding-top: 6em;
    margin: auto;
    border-spacing: none;
    //background-color: #555;
    table{
        width: 100%;
        box-shadow: 0px 0px 17px 5px rgba(179,179,179,1);
        border: 1px solid black;
        text-align: center;
        border-spacing: 0px;
        tr:nth-of-type(even){
            background-color: #ddd;
        }

        .tableHeader{
            background-color: #353535;
            color: white;
            th{
                font-weight: 200;
                letter-spacing: 1px;
            }
        }
        th, td{
            padding: 1em;
            .create,.delete{
                margin-right: 0.5em;
                font-size: 1.7rem;
                cursor: pointer;
            }
            .cart{
                    font-size: 1.7rem;
                    cursor: pointer;
            }
            input{
                padding: 1em;
                text-align: center;
                background-color: #585858;
                color: white;
                font-weight: 300;
                letter-spacing: 1px;
                border: 2px solid white;
                border-radius: 8px;
            }
        }
    }
}