@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

input, textarea{
    padding: 0.8em;
    text-align: center;
    background-color: #585858;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 8px;
}

button{
    width: 9em;
    border: 1px solid #707070;
    background-color: #262626;
    color: white;
    border-radius: 5px;
    padding: 0.3em;
    font-size: 22px;
    cursor: pointer;
}

button:active{
    background-color: #3d3d3d;
    width: 9.1em;
}
.home{
    width: 100%;
    color: white;
    .homeImg{
        width: 100%;
        height: 32em;
        background-color: #262626;
        text-align: center;
        .imgPlaceholder{
            margin-top: 4em;
            font-size: 10em;
        }
        figure{
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .info{
        width: 100%;
        background-color: #1D1D1D;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3em;
        justify-content: space-evenly;
        .arrowDown{
            flex-basis: 100%;
            text-align: center;
            padding: 0.3em;
            font-size: 5em;
        }
        h2{
            margin-bottom: 1em;
            text-align: center;
            color: #20F298;
            font-weight: 100;
            font-size: 2em;
        }

        aside{
            background-color: #101010;
            padding: 1em;
            display: flex;
            flex-flow: column;
            h3{
                text-align: center;
                font-weight: 400;
                font-size: 2em;
                margin-bottom: 1.5em;
            }
            border-radius: 1em;
            flex-basis: 30%;
            figure{
                width: 60%;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                }
                margin-bottom: 1.5em;
            }
            p{
                font-size: 1.3em;
                text-align: center;
                margin-bottom: 2em;
            }
            .stockInfo{
                display: flex;
                justify-content: space-around;
                margin-bottom: 1em;
                .stock{
                    font-size: 1.5em;
                    flex-basis: 50%;
                &:nth-of-type(even){
                    text-align: end;
                }
                }
            }
            .progress{
                margin-bottom: 2em;
            }
            .priceContainer{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                h5{
                    font-size: 2.5em;
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .oldPrice{
                        font-size: 0.8em;
                        color: rgb(155, 155, 155);
                        text-decoration: line-through;
                    }
                    .promotion{
                        margin-left: 0.5em;
                        color: rgb(29, 204, 128);
                    }
                }
            }
        }

        article{
            flex-basis: 60%;
            p{
                margin-bottom: 2em;
                font-size: 1.5em;
            }
        }
    }
}

.trolleyPage{
    padding: 1em;
    width: 100%;
    display: flex;
    background-color: #ccc;
    .left,.right{
        flex-basis: 65%;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .productSum{
            padding: 1em;
            flex-basis: 100%;
            background-color: #fff;
            border-radius: 3px;
            display: flex;
            h3{
                font-size: 1.8em;
                flex-basis: 80%;
            }
            .deleteAll{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                color: #0E7348;
                font-size: 1.3em;
                flex-basis: 20%;
                text-align: left;
                cursor: pointer;
                .material-icons{
                    font-size: 1.5em;
                }
            }
        }
        .productsList{
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            margin-top: 1em;
            border-radius: 3px;
            overflow: hidden;
            h1{
                text-align: center;
                width: 100%;
                font-size: 2em;
                padding: 1em;
            }
            .product{
                display: flex;
                background-color: #fff;
                padding: 0.5em;
                height: 10em;
                flex-basis: 100%;
                margin-bottom: 0.2em;
                figure{
                    flex-basis: 20%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        max-height: 100%;
                    }
                }
                .info{
                    flex-basis: 80%;
                    padding-left: 1em;
                    h3{
                        font-size: 1em;
                        font-weight: 600;
                    }
                    ul{
                        padding-left: 1em;
                    }
                }
                .priceDel{
                    flex-basis: 20%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    color: #0E7348;
                    span{
                        font-size: 3em;
                        flex-basis: 100%;
                        text-align: center;
                        cursor: pointer;
                    }

                    p{
                        flex-basis: 100%;
                        text-align: center;
                        font-size: 1.6em;
                    }
                }
            }
        }
        .payment{
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 1em;
            max-height: 12em;
            background-color: #fff;
            p{
                flex-basis: 70%;
                font-size: 1.2em;
            }
            h3{
                flex-basis: 30%;
            }
            button{
                flex-basis: 90%;
                margin-top: 0.5em;
            }
        }
        .useless{
            flex-basis: 100%;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
            font-size: 1.2em;
            cursor: pointer;
            background-color: #fff;
        }
    }
    .right{
        flex-basis: 35%;
    }
}

.navigation{
    display: flex;
    padding: 1em;
    background-color: #353535;
    color: white !important;
    border-bottom: 2px solid #20F298;
    a{
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    h1{
        flex-basis: 40%;
        margin-left: 2%;
        text-align: left;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 3em;
    }
    nav{
        flex-basis: 46%;
        margin-left: auto;
        margin-right: 3%;
        ul{
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            font-size: 1.3em;
            display: flex;
            list-style: none;
            
        }
        a:hover{
                color: #0E7348;
        }
        .nav-cart{
            margin: 0.3em;
        }
    }
}

main{
    width: 80%;
    padding-top: 6em;
    margin: auto;
    border-spacing: none;
    //background-color: #555;
    .trolley{
        margin-top: 7em; 
    }
    table{
        flex-basis: 100%;
        z-index: 1;
        width: 100%;
        box-shadow: 0px 0px 17px 5px rgba(179,179,179,1);
        border: 1px solid black;
        text-align: center;
        border-spacing: 0px;
        tr:nth-of-type(even){
            background-color: #ddd;
        }

        .tableHeader{
            background-color: #353535 !important;
            color: white;
            th{
                font-weight: 200;
                letter-spacing: 1px;
            }
        }
        input{
            max-width: 13em;
        }
        th, td{
            padding: 1em;
            .create,.delete{
                margin-right: 0.5em;
                font-size: 1.7rem;
                cursor: pointer;
            }
            .cart{
                font-size: 1.7rem;
                cursor: pointer;
            }
            .shop{
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }
    
    padding-bottom: 10em;
}

.shop{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    row-gap: 3em;
    justify-content: center;
    h1{
        width: 100%;
    }
    .tile{
        border-radius: 3px;
        margin-bottom: 1em;
        flex-basis: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        padding: 1em;
        figure{
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                border-radius: 1em;
                width: 100%;
            }
        }
        .showOffs{
            display: flex;
            .yellow{
                color: rgb(151, 151, 60);
            }
            .material-icons{
                display: flex;
                align-items: center;
                &:nth-of-type(5){
                    margin-right: 3em;
                }
            }
        }
        .info{
            flex-basis: 50%;
            font-size: 1.2em;
            height: 100%;
            padding: 1em;
            .productName{
                font-size: 1.5em;
                font-weight: 400;
            }
            ul{
                margin-left: 1em;
            }
        }
        .importants{
            height: 100%;
            flex-basis: 20%;
            .price{
                font-size: 2em;
            }
            p{
                font-size: 1.2em;
                .red{
                    color: rgb(255, 113, 113);
                }
                .blue{
                    color: rgb(48, 172, 255);
                }
            }
            button{
                margin-top: 2em;
            }
        }
      }
}

.addProduct{
    position: absolute;
    right: 10%;
    margin-top: 1.3em;
}

.background-grey{
    background-color: #eee;
    width: 100%;
}

.wrapper{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    padding-top: 7%;
    .summary {
        width: 70% !important;
        height: auto !important;
        display: flex;
        flex-wrap: wrap;
        overflow: visible !important;
        figure{
            flex-basis: 50%;
            height: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .info{
            flex-basis: 50%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            h1,p{
                margin-bottom: 1em;
                flex-basis: 100%;
            }
            button{
                margin: auto;
            }
        }
    }
    .box{
        width: 70%;
        opacity: 1;
        padding: 2em;
        box-shadow: 0px 0px 17px 5px rgb(126, 126, 126);
        z-index: 4;
        background-color: white;
        margin: auto;
        display: flex;
        height: 90%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: scroll;
        .imageHolder{
            flex-basis: 90%;
            margin: auto;
            figure{
                height: 10em;
                width: 10em;
                cursor: pointer;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            p{
                cursor: pointer;
            }
        }
        div{
            flex-basis: 100%;
            display: flex;
            margin-top: 1em;
            justify-content: center;
            align-items: center;
            input::placeholder{
                color: #ccc;
                font-size: 0.9rem;
            }
            .stateInput{
                margin-left: 15em;
            }
            .addButton{
                margin-left: 9em;
            }
            .nameInput{
                width: 30em;
            }
            .description{
                width: 90%;
                height: 15em;
                text-align: start !important;
            }
          }
        input{
            width: 15em;
        }
        input::palceholder{
            color: #fff;
        }
    }
}

.productPage{
    width: 90%;
    margin: auto;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    *{
        border-radius: 3px;
        background-color: #fff;
    }
    .mainSection{
        flex-basis: 65%;
        display: flex;
        figure{
            flex-basis: 55%;
            padding: 1em;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .info{
            padding: 1em;
            flex-basis: 60%;
            h2{
                font-size: 1.5em;
                font-weight: 540;
            }

            .mini{
                margin-top: 2em;
                font-size: 0.8em;
                &:nth-of-type(2){
                    margin-left: 3em;
                }
                color: #888;
            }
            .uselessInfo{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .showOffs{
                    display: flex;
                    .yellow{
                        color: rgb(151, 151, 60);
                    }
                    .material-icons{
                        display: flex;
                        align-items: center;
                        &:nth-of-type(5){
                            margin-right: 1em;
                        }
                    }
                }
            }
            ul{
                margin-left: 1em;
            }
        }
    }
    .payment{
        flex-basis: 25%;
        height: 15em;
        padding: 1em;
        h3{
            font-size: 1.5em;
            display: block;
            .rounded{
                font-size: 1.2rem;
                border: 1px solid black;
                border-radius: 3px;
                padding: 0.2em;
            }
        }

        .rpices{
            margin-top: 5em;
            display: flex;
            align-items: center;
            .grey{
                display: block;
                color: #888;
                font-size: 0.9em;
                flex-basis: 50%;
            }
            h4{
                flex-basis: 50%;
                text-align: center;
            }
        }
        .cont{
            display: flex;
            margin-top: 1em;
            justify-content: space-evenly;
            button{
                flex-basis: 70%;
                background-color: #353535;
            }
            .numberOf{
                padding: 1em;
                flex-basis: 20%;
                background-color: #fff;
                border: 1px solid black;
                border-radius: 5px;
            } 
        }
    }
    .description{
        flex-basis: 95%;
        overflow: hidden;
        margin-top: 3em;
        padding: 3em;
        text-align: inherit;
    }
    .productSlider{
        flex-basis: 95%;
        margin-top: 1em;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        h3{
            flex-basis: 100%;
        }
        .proposition{
            flex-basis: 20%;
            text-align: center;
            cursor: pointer;
            figure{
                width: 100%;
                height: 15em;
                overflow: hidden;
                position: relative;
                img{
                    position: absolute;
                    bottom: 15%;
                    left: 0;
                    width: 100%;

                }
            }
            .price{
                font-size: 3em;
                font-weight: 500;
                width: 100%;
                text-align: left;
            }
            .productName{
                text-align: left;
            }
            .unknown{
                color: rgb(126, 126, 126);
                margin-bottom: 0px !important;
                text-align: left;
            }
        }
    }
    .unvaluedInfo{
        cursor: pointer;
        flex-basis: 95%;
        margin-top: 1em;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h3{
            flex-basis: 50%;
        }
        .Details{
            text-align: center;
            flex-basis: 100%;
        }
    }
}

footer{
    width: 100%;
    padding: 3em;
    background-color: #353535;
    display: flex;
    color: white;
    column-gap: 3%;
    h4{
        font-size: 1.3em;
        margin-bottom: 3em;
        font-weight: 500;
    }
    .buySth{
        flex-basis: 17%;
    }
    .ContactUs{
        flex-basis: 17%;
        margin-left: 2em;
        .contactParagraph{
            margin-top: 1em;
            color: #0E7348;
            a{
                color: #0E7348;
                text-decoration: none; 
            }
        }
    }
    .CopyRigths{
        flex-basis: 12%;
        margin-left: 2em;
        
    }
    .SocialLinks{
        margin-left: auto;
        flex-basis: 40%;
        text-align: right;
        a{
            color: white;
            text-decoration: none;
            font-size: 2.5em;
            margin-left: 1em;
        }
    }
}
